# Xcode
#
# gitignore contributors: use the `git check-ignore -v .` command to debug why a file is ignored.

## Build results
build/
DerivedData/
*.moved-aside
*.xcuserstate

## Dependency manager
Pods/
Carthage/Build/
.build/

## User-specific
*.xcuserdatad
*.xcscmblueprint
xcuserdata/

## Miscellanous
.DS_Store
*.swp
*.lock
profile
*.mode1v3
*.mode2v3
*.perspectivev3

## Swift Package Manager
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcuserdata/
